.root-background {
    -fx-background-color: linear-gradient(to bottom right, #7b0015, #b3001b);
}

.mainform-pane {
    -fx-max-width: 400px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 25, 0.3, 0, 6);
}

